@import '../../style/variables.scss';
.main {
		min-height: 800px;
	&__about {
		background-color: #eaeaea;
		position: relative;
		min-height: 800px;
		min-width: 320px;
		&--wrapper {
			position: relative;
			height: 100%;
			min-height: 100vh;
            overflow: hidden;
		}
		&--label {
			font-size: 35px;
			font-weight: 700;
			text-align: center;
			font-size: 85px;
			@media (min-width: $tablet-width) {
				font-size: 60px;
			}

			&--text {
				font-size: 32px !important;
				@media (min-width: $tablet-width) {
					font-size: 32px !important;
				}
				@media (min-width: $desktop-width) {
					font-size: 46px !important;
				}
				&--sub {
					font-size: 20px !important;
					color: #777777 !important;
					@media (min-width: $tablet-width) {
						font-size: 24px !important;
					}
					@media (min-width: $desktop-width) {
						font-size: 32px !important;
					}
				}
			}
		}
	}
	&__elipse--big {
		position: absolute;
		width: 100%;
		top: 50%;
		opacity: 0;
		left: -10%;
		transform: translate(-50%, -50%);
		height: 100%;
		margin-right: 10px;
		margin-bottom: 40px;
		max-width: 700px;
		max-height: 700px;
	}
}
.main__elipse--big--right {
	position: absolute;
	width: 400px;
	bottom: 10px;
	right: 0;
	display: none;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 1s ease-out, opacity 1s ease-out;
	@media (min-width: 1610px) {
		display: block;
	}
}


  .elipse__big--right--animation {
    opacity: 1;
    transform: translateX(0);
  }

.elipse__big--animation {
	left: 0;
	opacity: 1;
	transition: left 1s ease-in-out;
}
.about-text {
	font-size: 20px !important;
	text-wrap: wrap;
	font-weight: 700;
	padding: 16px;
	@media (min-width: $tablet-width) {
		font-size: 24px !important;
	}
	@media (min-width: $desktop-width) {
		padding-top: 14px;
		padding-bottom: 20px;
		font-size: 32px !important;
	}
}

.element-animation {
	color: $text-color-secondary;
	margin: 0;
	overflow-wrap: break-word;
	opacity: 0;
	flex-wrap: wrap;
	transform: translateY(20px);
	font-size: 24px;
}

.element-animation.element-show {
	opacity: 1;
	transition: all 1.5s;
	transform: translateY(0%);
}
.main__about--sub-text {
	display: inline-block;
}

.l-1 {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	max-width: 700px;
	shape-outside: circle(150px at 0%);
	float: left;
	shape-margin: 3em;
	@media (min-width: 375px) {
		shape-outside: circle(200px at 0%);
	}
	@media (min-width: 480px) {
		shape-outside: circle(250px at 0%);
	}
	@media (min-width: 580px) {
		shape-outside: circle(300px at 0%);
	}
	@media (min-width: 680px) {
		shape-outside: circle(350px at 0%);
	}
}
.text--container {
    padding-top: 80px;
	min-height: 100%;
}
