@import '../../style/variables.scss';
@import '../../components/CallBack/Callback.scss';

.SupplementsPage__wrapper {
	min-height: 100vh;
	height: 100%;
	background-color: #4d4c4c;
	padding-top: 100px;
	margin: 0 auto;
	padding-bottom: 2%;
    min-width: 320px;
	&--label {
		font-size: 32px;
		display: flex;
		justify-content: center;
		font-weight: 700;
		color: #fff;
	}
	&--menu {
		margin: 0 auto;
		height: 100%;
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		row-gap: 175px;
		padding: 16px;
		justify-items: center;
        column-gap: 20px;
        @media (min-width:$tablet-width) {
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        }
	}
	&--item {
		height:300px;
		width: 300px;
        @media (min-width:$tablet-width) {
        max-height:400px;
		max-width: 400px;
        }
		border-radius: 25px;
		background: #000;
		color: #ffffff;

		transform: translate(-2px, -2px);
		transition: all 1s ease-in;
	}
	&--item:hover {
		@media (hover: hover) {
			animation: anim 30s infinite;
			box-shadow: rgba(255, 255, 255, 0.7) 0 0 100px 10px;
			transition: box-shadow 0.2s ease-in-out;
		}
	}

	&--button {
		width: 140px;
		border: none;
		height: 40px;
		background-color: $text-color-secondary;
		color: $warning-color;
		font-size: 15px;
		font-weight: 700;
		border-radius: 20px;
		cursor: pointer;
		position: absolute;
		bottom: -25px;
		left: 50%;
		transform: translateX(-50%);
	}
}

.product__overlay {
	position: absolute;
	z-index: 10;
	border-radius: 50px;
	background: url('/Supplements_content_bg.png') center;
	background-color: white;
	top: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}
.Supplements__page--wrapper {
	z-index: 5;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100vh;
    min-width: 320px;
	position: fixed;
    top: 0;
}
.product__content {
	&--flex {
		display: flex;
		justify-content: center;
		flex-direction: column;


        padding: 150px 50px 50px 50px;
		position: relative;
		@media (min-width: 768px) {
			flex-direction: row;
		}
	}
	&--description {
		color: black;
		font-size: 24px;
		justify-content: space-between;
		gap: 8px;
		display: flex;
		flex-direction: column;
		margin: 10px;
	}
	&--label {
		width: 100%;
		text-align: center;
		font-weight: 700;
		line-height: 121%;
		margin-top: 50px;
		background: linear-gradient(
			90deg,
			#fdaa17 66.1%,
			rgba(237, 237, 237, 0) 100%
		);
		color: #000;
		font-size: 40px;
		position: absolute;
		left: 0;
		top: 0;
		@media (min-width: 768px) {
			font-size: 46px;
		}
	}
	&--text {
		font-weight: 700;
		font-size: 40px;
		line-height: 121%;
	}
	&--text-sub {
		font-weight: 700;
		line-height: 121%;
		font-size: 16px;
		@media (min-width: 768px) {
			font-size: 24px;
		}
	}
	&--text--notification {
		font-weight: 700;
		font-size: 18px;
		line-height: 121%;
		text-align: center;
		font-size: 12px;
        padding: 0;
		@media (min-width: 768px) {
			font-size: 24px;
		}
	}
	&--button {
		display: flex;
		cursor: pointer;
		margin: 0 auto;
		border-radius: 20px;
		color: black;
		justify-content: center;
		align-items: center;
		border: none;
		box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.25);
		background: $warning-color;
		width: 170px;
		height: 60px;
		margin-bottom: 40px;
		font-size: 16px;
		@media (min-width: 768px) {
			width: 346px;
			font-size: 24px;
			height: 71px;
		}
	}
}
.close__button {
	z-index: 100;
	position: absolute;
	top: 10px;
	right: 30px;
	border: none;
    cursor: pointer;
    &:not(.disable):hover {
       fill: $text-color-secondary;
      }
}
.close__button svg {
    transition: transform 0.3s ease;
  }

  @media (hover: hover) and (pointer: fine) {
    .close__button:hover {
      transform: scale(1.1);
    }

    .close__button:hover svg {
      transform: scale(1.2);
    }
  }

  .close__button:active {
    transform: scale(0.95);
  }
.test_image {
	display: none;
	max-width: 300px;
	@media (min-width: 768px) {
		display: flex;
	}}
.product__image{
width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  filter: brightness(60%);
}
.action--form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 5;
}

.ContactForm__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  .ContactForm__content {
    padding: 20px;
    border-radius: 8px;
    max-width: 700px;
    width: 100%;
  }

  .item--label{
    position: absolute;
	transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 24px;
    font-family: inherit;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
.product__image--flex{
    color: black;
}
