@import '../../style/variables.scss';

.products__wrapper {
	display: flex;
	position: relative;
    overflow-y: hidden !important;
	flex-direction: column;
	align-items: center;
	padding: 16px;
	background-color: #4d4c4c;
	gap: 16px;
	justify-content: space-between;
	&--label {
		padding: 50px 0px;
		font-size: 54px;
		font-weight: 700;
		word-break: keep-all;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-height: 800px) {
			font-size: 42px;
		}
		line-height: 121%;
		color: #fff;
	}
}
.mySwiper {
	position: relative;
	display: flex;
	justify-content: center;
	height: 100%;
    overflow-y: hidden !important;
	min-width: 320px;
	flex-direction: column;
	align-items: center;
    max-width: 100%;
}
.swiper-slide {
    width: unset !important;
	user-select: none;

}
.custom__slide {
    width: 280px !important;
    @media (min-width: $tablet-width) {
       width: 340px !important;
    }
}
.swiper-pagination {
    position: relative !important;
    margin-top: 100px;
}
.swiper-pagination-bullet {
	background-color: $warning-color !important;
	width: 14px !important;
	height: 14px !important;
}
.swiper-pagination-bullet-active {
	background-color: #d9d9d9 !important;
	width: 20px !important;
	height: 20px !important;
}

.primary__button {
	height: 71px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $warning-color;
	border-radius: 80px;
	border: none;
	font-weight: 600;
	font-size: 24px;
	line-height: 121%;
	margin-bottom: 10px !important;
	cursor: pointer;
	text-align: center;
	color: #fff;
	@media (min-width: $tablet-width) {
		font-size: 24px;
	}

	&:hover {
		@media (hover: hover) {
			background: $text-color-secondary;
			color: $warning-color;
			-webkit-transition: background 0.3s ease-in-out;
			-moz-transition: background 0.3s ease-in-out;
			transition: background-color 0.3s ease-in-out;
		}
	}
}
.slide__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-word;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 26px;
	@media (min-width: $tablet-width) {
		font-size: 30px;
	}
}
