@import '../../style/variables.scss';
#contact input[type='text'],
#contact input[type='email'],
#contact input[type='tel'],
#contact input[type='url'],
#contact textarea,
#contact button[type='submit'] {
	font: 400 12px/16px 'Open Sans', Helvetica, Arial, sans-serif;
}

.main {
	&__callback {
		min-width: 320px;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		margin: 0 auto;
		background: url('/callback__bg.png');
		object-fit: cover;
		background-color: #3e3d3d;

		&--wrapper {
			min-height: 100vh;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
            padding: 55px;
		}
		&--wrapper--label {
			font-weight: 800;
			font-size: 32px;
			text-align: center;
			color: #3e3d3d;
			@media (min-width: $tablet-width) {
				font-size: 48px;
			}
		}
	}
}

#contact {
	background-color: #919090;
	padding: 25px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;

	align-items: center;
	max-width: 700px;
}

fieldset {
	border: none !important;
	margin: 0 0 10px;
	width: 100%;
}

#contact input[type='text'],
#contact input[type='email'],
#contact input[type='tel'],
#contact textarea {
	font-size: 16px;
	line-height: 121%;
	font-weight: 700;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 20px;
	background: #f6f5f5;
	margin: 0 auto;
	color: black;
	padding: 20px;
}

#contact input[type='text']:hover,
#contact input[type='email']:hover,
#contact input[type='tel']:hover,
#contact textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #aaa;
}

#contact textarea {
	height: 100px;
	max-width: 100%;
	resize: none;
}

#contact button[type='submit'] {
	cursor: pointer;
	border: none;
	background-color: $warning-color;
	color: #ffffff;
	padding: 10px;
	font-size: 15px;
	border-radius: 20px;
	max-width: 346px;
	max-height: 59px;
	font-size: 24px;
	line-height: 121%;
	text-align: center;
	color: #efeded;
    font-weight: 800;
	@media (min-width: $tablet-width) {
		width: 100%;
	}
}

#contact button[type='submit']:hover {
	@media (hover: hover) {
		background: $text-color-secondary;
		color: $warning-color;
		-webkit-transition: background 0.3s ease-in-out;
		-moz-transition: background 0.3s ease-in-out;
		transition: background-color 0.3s ease-in-out;
	}
}
#contact-submit {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	font-weight: 800;
	font-size: 24px;
	line-height: 121%;
	text-align: center;
	color: #efeded;
}
#contact button[type='submit']:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
	font-style: italic;
	font-weight: 800;
	font-size: 24px;
	line-height: 121%;
	text-align: center;
	color: #efeded;
}

#contact input:focus,
#contact textarea:focus {
	outline: 0;
	border: 1px solid #999;
}
::-webkit-input-placeholder {
	color: #888;
}
:-moz-placeholder {
	color: #888;
}
::-moz-placeholder {
	color: #888;
}
:-ms-input-placeholder {
	color: #888;
}
.SmartCaptcha-Shield {
	z-index: 100;
}
